<h3 id="NoRecords" style="display:none;">No se encontraron registros</h3>
{% if resp[0] is not none %}
    {% for r1 in resp[0] %}
        {% if resp[0][r1]|length > 0 %}
            <h3 class="Titulo69b">{{ r1 }}</h3>
            <table class="table table-responsive-sm table-bordered" id="resp69b">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">RFC</th>
                        <th scope="col">Razón Social</th>
                    </tr>
                </thead>
                <tbody>
                {% for r in resp[0][r1] %}
                    {% if loop.index % 2 == 0 %}
                        {% set parnon = 'par' %}
                    {% else %}
                        {% set parnon = 'non' %}
                    {% endif %}
                    <tr class='clickable-row {{ parnon }} clck' data-ident='{{ r.id }}'>
                      <th scope="row">{{ loop.index }}</th>
                      <td>{{ r.rfc }}</td>
                      <td>{{ r.nombre }}</td>
                    </tr>
                    <tr style="display:none;" id="{{ r.id }}"  class="{{ parnon }}">
                        <th scope="row"> </th>
                        <td></td>
                        <td>
                            <table class="table table-responsive-sm table-bordered" id="detail69b">
                                <tbody>
                                    {% if r.numofi_presuncion is not none %}
                                        <tr>
                                            <td>Número Oficio global de Presunción</td>
                                            <td>{{ r.numofi_presuncion }}</td>
                                        </tr>
                                    {% endif %}
                                    {% if r.fechaofi_presuncion is not none %}
                                        <tr>
                                            <td>Fecha Oficio global de Presunción</td>
                                            <td>{{ r.fechaofi_presuncion|strftime }}</td>
                                        </tr>
                                    {% endif %}
                                    {% if r.numofi_desvirtuado is not none %}
                                        <tr>
                                            <td>Número Oficio global de contribuyentes que Desvirtuaron</td>
                                            <td>{{ r.numofi_desvirtuado }}</td>
                                        </tr>
                                    {% endif %}
                                    {% if r.fechaofi_desvirtuado is not none %}
                                        <tr>
                                            <td>Fecha Oficio global de contribuyentes que Desvirtuaron</td>
                                            <td>{{ r.fechaofi_desvirtuado|strftime }}</td>
                                        </tr>
                                    {% endif %}
                                    {% if r.numofi_definitivo is not none %}
                                        <tr>
                                            <td>Número Oficio global de Definitivos</td>
                                            <td>{{ r.numofi_definitivo }}</td>
                                        </tr>
                                    {% endif %}
                                    {% if r.fechaofi_definitivo is not none %}
                                        <tr>
                                            <td>Fecha Oficio global de Definitivos</td>
                                            <td>{{ r.fechaofi_definitivo|strftime }}</td>
                                        </tr>
                                    {% endif %}
                                    {% if r.numofi_sentfav is not none %}
                                        <tr>
                                            <td>Número Oficio global de Sentencia Favorable</td>
                                            <td>{{ r.numofi_sentfav }}</td>
                                        </tr>
                                    {% endif %}
                                    {% if r.fechaofi_sentfav is not none %}
                                        <tr>
                                            <td>Fecha Oficio global de Sentencia Favorable</td>
                                            <td>{{ r.fechaofi_sentfav|strftime }}</td>
                                        </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    {% endfor %}
{% endif %}