{% extends 'bootstrap/base.html' %}
{% block head %}
    {{super()}}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
{% endblock %}
{% block title %}
    {% if title %}
        {{ title }} - art69 WebApp
    {% else %}
        Bienvenido al App de revisión del art69
    {% endif %}
{% endblock %}
{% block styles %}
{{super()}}
    <!-- Custom Style -->
    <link href="{{ url_for('static', filename='customstyles/custom.css') }}" rel="stylesheet" type="text/css">
{% endblock %}
{% block navbar %}
    <nav class="navbar navbar-default container-color">
        <div class="container">
            <div class="navbar-header">
                <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='Logo69webapp.png') }}" alt="Art.69 WebApp" width="42" height="42"></a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    {% if not current_user.is_anonymous %}
                        <li class="navbar-text link-color">Bienvenido, {{ current_user.fullname }}</li>
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_anonymous %}
                        <li><a href="{{ url_for('login') }}" class="link-color">Iniciar sesión</a></li>
                    {% else %}
		                {% if current_user.level == 0 %}
		                    <li><a href="{{ url_for('usuarios') }}" class="link-color">Usuarios</a></li>
                        {% endif %}
                        <li><a href="{{ url_for('perfil', iduser=current_user.enc_id()) }}" class="link-color">Perfil</a></li>
                        <li><a href="{{ url_for('logout') }}" class="link-color">Cerrar sesión</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}
{% block content %}
    <div class="container">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
        {# application content needs to be provided in the app_content block #}
    {% block app_content %}{% endblock %}
    </div>
{% endblock %}