@charset "utf-8";
/* CSS Document */

input[type=submit].srchbtn {
  background:url("/static/SearchBtn.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  color: transparent;
}

input[type=submit]:active.srchbtn {
  color: transparent;
}

#resp69b th {background-color: #a2c57f;}
#resp69b tr.par{background-color: #99cfe0;}
#resp69b tr.non{background-color: #d4ebf2;}
#resp69b tr.clck:hover {
    background-color: #ddd;
    font-weight: bold;
    cursor: pointer;
    }