@charset "utf-8";
/* CSS Document */

input[type=submit].srchbtn {
  background:url("/static/SearchBtn.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  color: transparent;
}

input[type=submit]:active.srchbtn {
  color: transparent;
}